.grid-root {
    display: 'flex';
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: 'hidden';
}

.grid-list {
    width: 500;
    height: 450;
}

.grid-test {
    max-width: 768px;
}